.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar

# My Folders #
##############
/Compiler/
/Assembler/
/Linker/
/Debugger/
/Simulator/
/Editor/
/Manual/
/Examples/
/CoreWars/
